{% extends "base.html.twig" %}
{% block body %}
<section class="py-5 text-center container" style="background: url(''); background-size: cover; background-position: center top;">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">Bonjour !</h1>
				<p class="lead">Bienvenue sur mon blog.</p>
			</div>
		</div>
	</section>
{% endblock %}